*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}
.tener {
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
    
}
.apper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
}
.row {
    display: flex;
     flex-direction: row; 
    

}

button {
    border: none;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 24px;
    margin-left: 10px;
    height: 65px;
    font-weight: 600;
    margin-top: 10px;
}
input {
    border: none;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 24px;
    margin-top: 10px;
}
#pertanyan {
    font-size: 1.6em;
    font-weight: 500;
}

